<div class="field">

  <div class="card-stack">
    <img [ngStyle]="{'right.px' : 15 * i}" *ngFor="let n of [0,1,2,3]; let i = index" src="/assets/img/cards/card_cover.png" alt="card cover">
    <img (click)="takeCard()" class="top-card" [ngStyle]="{'right.px' : 15 * 4}" src="/assets/img/cards/card_cover.png" alt="card cover">
    <img *ngFor="let card of game?.playedCard" class="played-card" src="/assets/img/cards/{{ card }}.png" alt="card play">
    <img (click)="takeCard()" *ngIf="pickCardAnimation" class="top-card pick-card" [ngStyle]="{'right.px' : 15 * 4}" src="/assets/img/cards/{{ currentCard }}.png" alt="card shown">
  </div>
</div>
